.header {
  position: fixed;       /* 游댠 st치le hore */
  top: 0;
  left: 0;
  width: 100%;

  height: 56px;          /* 游댠 men코ia v칳코ka */
  padding: 0 1.2rem;

  background: #000000;
  border-bottom: 1px solid #000000;

  display: flex;
  align-items: center;
  gap: 1.5rem;

  z-index: 2000;         /* v쬯y nad v코etk칳m */
}


.logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
  user-select: none;

  transition: 0.2s ease;
  padding: 0.2rem 0.4rem;
  border-radius: 8px;
}

.logo-icon {
  font-size: 1.7rem;
  filter: drop-shadow(0 0 6px rgba(248, 56, 56, 0.8));
}

.logo-text {
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  color: #f83838;

  text-shadow:
    0 0 8px rgba(248, 56, 56, 0.6),
    0 0 16px rgba(255, 91, 91, 0.3);
}

.logo:hover {
  transform: translateY(-2px);
  background: rgba(56, 189, 248, 0.1);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.4rem;

  margin-left: 1rem;          /* 游댠 Posun ved쬬 loga */
}

.nav-links a {
  color: #cbd5e1;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;

  border-bottom: 2px solid transparent;
  padding-bottom: 2px;

  transition: 0.2s ease;
}

.nav-links a:hover {
  color: #f83838;
  border-bottom: 2px solid #f83838;
}