.clan-detail {
  padding: 1.5rem;
}

.clan-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.clan-main {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.clan-logo {
  width: 95px;
  height: 95px;
  border-radius: 16px;
  border: 3px solid #f83838;
  object-fit: cover;
}

.clan-members ul,
.clan-add-players ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.clan-members li,
.clan-add-players li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #3b1e1e;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  margin-bottom: 0.4rem;
}

.clan-members li button,
.clan-add-players li button {
  background: #ef4444;
  color: white;
  border: none;
  padding: 0.35rem 0.7rem;
  border-radius: 6px;
  cursor: pointer;
}

.clan-add-players li button {
  background: #f83838;
  color: #2a0f0f;
  font-weight: 600;
}